:root {
    --white: hsl(0, 0%, 100%);
    --neutral500: hsl(240, 67%, 8%);
    --neutral300: hsl(240, 17%, 26%);
    --neutral100: hsl(240, 6%, 54%);
    --neutral50: hsla(0, 0%, 85%, 0.20);

    --mercury: hsl(194, 48%, 49%);
    --venus: hsl(33, 82%, 61%);
    --earth: hsl(263, 67%, 51%);
    --mars: hsl(10, 63%, 51%);
    --jupiter: hsl(332, 67%, 54%);
    --saturn: hsl(17, 73%, 46%);
    --uranus: hsl(169, 73%, 44%);
    --neptune: hsl(222, 87%, 56%);
    --primary: blue;
}

.mercury-color {
    background: var(--mercury);
}
.venus-color {
    background: var(--venus);
}
.earth-color {
    background: var(--earth);
}
.mars-color {
    background: var(--mars);
}
.jupiter-color {
    background: var(--jupiter);
}
.saturn-color {
    background: var(--saturn);
}
.uranus-color {
    background: var(--uranus);
}
.neptune-color {
    background: var(--neptune);
}

