
p, h1, h2, h3, h4 {
    color: var(--white);
}

h1 {
   font-family: 'Antonio', sans-serif;
   font-weight: 400;
}

h2 {
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: 'Spartan', sans-serif;
}

